{% extends '::base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block page_top_breadcrumb %}
    <li><a href="#">Espace membres</a></li>
    <li class="active">Changement de mot de passe réussi</li>
{% endblock %}

{% block page_top_main %}Changement de mot de passe réussi !{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
        	<h3>Votre mot de passe vient d'être modifié.</h3>
            <p>Vous pouvez dès à présent vous connecter avec votre nouveau mot de passe avec l'identifiant <b>{{ change_password_succeed_username }}</b>.</p>
            <a href="{{ path('coasters_world_homepage') }}" class="btn btn-primary">Retourner à l'accueil</a>
        </div>
    </div>
{% endblock %}
