{% extends '::base.html.twig' %}

{% block title %}{{ 'login.title'|trans }}{% endblock %}

{% block page_top_breadcrumb %}
    <li><a href="#">Espace membres</a></li>
    <li class="active">{{ 'login.title'|trans }}</li>
{% endblock %}

{% block page_top_main %}{{ 'login.title'|trans }}{% endblock %}

{% block body %}
    {% include 'CoastersWorldSiteBundle:Security:loginform.html.twig' with {formwidth: 4} %}
{% endblock %}
