# Bootstrap
/app/bootstrap*

# Symfony directories
/web/bundles/
/app/cache/*
/app/logs/*
/vendor/

# Configuration files
/app/config/parameters.yml

# Backup entities
*~

# Composer
composer.phar

# Configuration files
.DS_Store
