{% extends '::base.html.twig' %}

{% block title %}{{ 'comments.add'|trans }}{% endblock%}

{% block body %}
    <h1>Add comment for blog post "{{ comment.coaster.name }}"</h1>
    {% include 'CoastersWorldSiteBundle:Comment:edit.html.twig' with { 'form': form } %}
{% endblock %}
