<div class="row">
    <div class="span8">
      <div class="content">
        <section id="comments">
          <h3><i class="icon-comments"></i>
            {% transchoice comments|length with {'%count%': comments|length} %}comments.number{% endtranschoice %}
          </h3>
          <ul class="comments">
            {% for comment in comments %}
            <li>
              <div class="comment">
                <div class="thumbnail">
                  <img src="{{ asset('bundles/coastersworldsite/images/avatars/avatar.png') }}" alt="" class="avatar">
                </div>
                <div class="comment-block">
                  <div class="comment-arrow"></div>
                  <span class="comment-by">
                    <strong>{{ comment.author.username }}</strong>
                  </span>
                  <p>{{ comment.body }}</p>
                  <small class="date pull-right">{{ comment.publishedAt|date("F jS \\a\\t g:ia") }}</small>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </section>
      </div>
      <hr class="fadeout">
    </div>
</div>
