<div class="post-block post-comments clearfix">
    
    <h3><i class="icon icon-comments"></i>{% transchoice comments|length with {'%count%': comments|length} %}comments.number{% endtranschoice %}</h3>

    <ul class="comments">
        {% for comment in comments %}
            <li>
                <div class="comment">
                    <div class="img-thumbnail">
                        <img class="avatar" alt="" src="{{ asset('bundles/coastersworldsite/img/avatar.jpg') }}">
                    </div>
                    <div class="comment-block">
                        <div class="comment-arrow"></div>
                        <span class="comment-by">
                            <strong>{{ comment.author.username }}</strong>
                        </span>
                        <p>{{ comment.body }}</p>
                        <span class="date pull-right">{{ comment.publishedAt|date("F jS \\a\\t g:ia") }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
