<header>
    <div class="container clearfix">
        <div class="one-third column">
            <div class="logo">
                <a href="index.html">
                    <img src="{{ asset('images/logo.png') }}" alt="Crevision - Creative Template" />
                </a>
            </div>
        </div>
        <div class="two-thirds column">
            <nav id="menu" class="navigation">
                <ul id="nav">
                    <li><a href class="active">Home</a></li>
                    <li><a href="{{ path('coasters_world_news_list') }}">News</a>
                        <ul>
                            <li><a href="{{ path("coasters_world_news_new") }}">Poster une news</a></li>
                        </ul>
                    </li>
                    <li><a href>Features</a></li>
                    <li><a href>Portfolio</a></li>
                    <li><a href>Blog</a></li>
                    {% if app.user %}
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="sixteen columns"><hr /></div>
    </div>
</header>
