{% extends '::base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="sixteen columns">
        <h1 class="page-title">{{ coaster.name }}<span class="line"></span></h1>
    </div>
{% endblock %}
