parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport: gmail
    mailer_host:      smtp.gmail.com
    mailer_user:      user_gmail_sans_@gmail.com
    mailer_password:  mdp_gmail
    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt

    coastersworld.admin_email.address: admin@coastersworld.fr
    coastersworld.admin_email.name: CoastersWorld.fr
    coastersworld.mailer.activation.subject: Activation de votre compte CoastersWorld.fr

twig:
    globals:
        images_path: /uploads/documents/
        coastersworld_admin_email_address: %coastersworld.admin_email.address%