{% extends '::base.html.twig' %}

{% block page_top_main %}Dernières images{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/coastersworldsite/vendor/magnific-popup/magnific-popup.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/coastersworldsite/vendor/magnific-popup/magnific-popup.css') }}" media="screen">
{% endblock %}

{% block body %}
    <div class="row">
        <ul class="portfolio-list sort-destination lightbox" data-sort-id="portfolio" data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
            {% for image in images %}
                <li class="col-md-3">
                    <div class="portfolio-item img-thumbnail">
                        <a class="thumb-info" href="{{ asset('uploads/documents/' ~ image.path) }}">
                            <img class="img-responsive" width="215" src="{{ asset('uploads/documents/' ~ image.path) }}">
                            <span class="zoom">
                                <i class="icon icon-16 icon-white-shadowed icon-search"></i>
                            </span>
                        </a>
                    </div>
                </li>
            {% endfor %} 
        </ul>
    </div>
{% endblock %}