{% extends '::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="span8">
            <div class="content">
                <section class="blog">
                    <div class="page-header">
                        <h1>Dernières images</h1>
                    </div>
                    <ul>
                    {% for image in images %}
                    <li><img style="max-width:300px; max-height:200px;" src="{{ asset('uploads/documents/' ~ image.path) }}" alt="{{ image.name }}"/></li>
                    {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
