{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/coastersworldsite/vendor/dropzone/css/dropzone.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/coastersworldsite/vendor/dropzone/dropzone.js') }}"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            Dropzone.options.myDropzone = {
                paramName: "form[file]"
            };
        });
    </script>
{% endblock %}

{% block body %}
    <h1>Upload des images</h1>
    <div class="row">
        <div class="col-md-8">
            {{ form_start(form, { 'attr': {'class': 'dropzone', 'id': 'my-dropzone'} }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
