<h4>Dernières news</h4>
<ul class="simple-post-list">
	{% for n in latestNews %}
        <li>
            <div class="post-image">
                <div class="img-thumbnail">
                    <a href="{{ path('coasters_world_news_view', { slug: n.slug }) }}">
                        <img src="http://lorempixel.com/30/30/technics" alt="">
                    </a>
                </div>
            </div>
            <div class="post-info">
                <a href="{{ path('coasters_world_news_view', { slug: n.slug }) }}">{{ n.title }}</a>
                <div class="post-meta">
                	{{ n.publishedAt|date("d")}} 
                	{% if n.publishedAt|date("n") == 1 %}Janvier
                        {% elseif n.publishedAt|date("n") == 2 %}Février
                        {% elseif n.publishedAt|date("n") == 3 %}Mars
                        {% elseif n.publishedAt|date("n") == 4 %}Avril
                        {% elseif n.publishedAt|date("n") == 5 %}Mai
                        {% elseif n.publishedAt|date("n") == 6 %}Juin
                        {% elseif n.publishedAt|date("n") == 7 %}Juillet
                        {% elseif n.publishedAt|date("n") == 8 %}Août
                        {% elseif n.publishedAt|date("n") == 9 %}Septembre
                        {% elseif n.publishedAt|date("n") == 10 %}Octobre
                        {% elseif n.publishedAt|date("n") == 11 %}Novembre
                        {% elseif n.publishedAt|date("n") == 12 %}Décembre
                        {% else %}Dev
                        {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>