/* Add here all your CSS customizations */

.form-group{margin-bottom: 20px;}
.post-content > p{text-align:justify;}

.form-control {
	height: 34px;
	padding: 6px 12px;
}

nav.nav-main.mega-menu{margin-right:15px;}

.post-comments {width:100%;}
