/* Add here all your CSS customizations */

.form-group{margin-bottom: 20px;}
header nav ul.nav-main ul.dropdown-menu{background-color:#e05048;background-image:none;}
.btn-primary, .pagination > .active > a{background-color:#e05048;background-image:none;}
.post-content > p{text-align:justify;}
.pagination > .active > a:hover{background-color: #e05048;border-color: #ac2925;}

.form-control {
	height: 34px;
	padding: 6px 12px;
}
