{% extends '::base.html.twig' %}

{% block title %}Base de données{% endblock %}

{% block body %}
	<input type="text" id="searchCoaster" style="width:300px"/>

	<script type="text/javascript">
		jQuery(function() {
    		jQuery('#searchCoaster').select2({
    			placeholder: 'Chercher un coaster...',
    			minimumInputLength: 2,
    			ajax: {
			        url: "{{ path('database_search_ajax') }}",
			        dataType: 'json',
                    quietMillis: 200,
			        data: function (term, page) {
			            return {
			                q: term
			            };
			        },
			        results: function (data, page) {
			            return {results: data };
			        }
			    },
			    formatResult: function (data) {
			        return "<div class='select2-user-result'><i class='icon-heart'></i> " + data.name + ', ' + data.park.name + "</div>";
			    },
    		});

            jQuery('#searchCoaster').on("change", function(e) {
                var uri = "{{ path('coasters_world_database_view', {slug: '+'}) }}";
                uri = uri.replace('+', jQuery(this).select2('data').slug);
                window.location.href = uri;
            });
    	});
	</script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/coastersworldsite/js/vendor/select2.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/coastersworldsite/css/select2.css') }}" />
{% endblock %}
